.appointment-form {
  border: 2px solid black;
  border-radius: 8px;
  width: 25%;
  margin: 10px;
  padding: 18px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info > span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
}

input {
  height: 20px;
  /* width: 200px; */
}

.time-info {
  display: flex;
  flex-direction: row;
  padding-top: 4px
}

.time-info > span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
}