.appointment-form {
  border: 2px solid black;
  border-radius: 8px;
  width: 25%;
  min-width: 450px;
  margin: 10px;
  padding: 1.25em;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

input {
  height: 1.5em;
}

.time-info {
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
}

.time-info > label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1em;
}
