.appointment-form {
  border: 3px solid black;
  width: 30%;
  margin: 10px;
  padding: 18px;
}

/* .user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
} */

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info > span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 4px;
}

input {
  height: 20px;
  width: 200px;
}

.time-info {
  display: flex;
  flex-direction: row;
}

.time-info > h4 {
  margin: 2px;
}

#submit-btn {
  background-color: transparent;
  font-size: 20px;
  border-radius: 12px;
  width: 100px;
  padding: 10px;
  margin-left: 30%;
}