.confirm-container {
  border: 2px solid black;
  border-radius: 8px;
  width: 25%;
  min-width: 450px;
  min-height: 200px;
  margin: 10px;
  padding: 1.25em;
  text-align: center;
}

.confirm-button {
  background-color: transparent;
  border: none;
  height: 100%;
  font-family: arial, sans-serif;
  color: #069;
  cursor: pointer;
  margin-top: 20%;
}

.confirm-button:hover {
  text-decoration: underline;
}
